a { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

.filter-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* Map Info Window Content */
.popup-marker-data p { margin-bottom: 5px; }
.popup-marker-data hr { margin: 5px 0 5px 0; }
.popup-marker-data .dl-horizontal { margin-top: 5px; }
.popup-marker-data dt { width: 105px; }
.popup-marker-data dd { margin-left: 115px; }

#search_map { right: 0;}
body {
  padding-top: 60px;
}


.navbar-wrapper {
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 10;
margin-top: 20px;
margin-bottom: -90px;
}

.center { text-align: center;}