#mainouter2 #center #hometext {
  float:left;
}
#mainouter2 #center #hometext img {
  width:177px;
  height:81px;
  margin:50px 20px 0px 10px;
}
#mainouter2 #center div#vert {
  width:1px;
  height:187px;
  background:#111111;
  float:left;
}
#mainouter2 #center #content div.col1 {
  padding-left:20px;
  width:380px;
  padding:10px 0px 0px 15px;
}
#mainouter2 #center #foot {
  margin-top:100px;
}
#mainouter2 #leftimghome {
  margin-top:46px;
}

.breakdown {
  padding-left: 20px;
}